.nav{
    border-right: 2px solid black;
    height: auto;
    margin-right: 15rem;
    position: fixed;
    /* top: 0; */
    /* overflow-y: hidden; */
    height: 100%;
    z-index: 10;
    padding: 0 2.5rem;
}
.logo {
    margin-bottom: 1.5rem;
}
.logo h1{
    font-size: 2rem;
    color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
    
}
.nav-list{
    list-style: none;
    
}
.NavLinks{
    font-size: 1.3rem;
    margin:2rem .5rem;
    display : flex; 
    align-items : center; 
    transition: .3s all;
    padding:0 .5rem;
    text-decoration: none;
    color: #000000;

}
.NavLinks:hover{
    cursor: pointer;
    /* background: #4d464a; */
    /* border-radius: 10px; */
    color: rgb(129, 112, 112);
    /* text-decoration: underline; */
}

.menu-icons{
    margin: 0 1rem 0 0;
    font-size: 1.5rem;

}
.menu-line,.for-nav-z-index{
    display: none;
}
@media only screen and (max-width:800px)  {
    .nav{
        border: none;
        position: fixed;
        margin-right: 10rem;
        padding: 0;
    }
    .logo{
        position: fixed;
        top: .5rem;
        left: .5rem;
        width: 100%;
        z-index: 12;

    }
    .logo h1{
        font-size: 1.2rem;; 
    }
    .menu-name{
        display: none;
    }
    .NavLinks{
        position: fixed;
        padding: 0;
    }
    .notification-nav{
        position: fixed;
        top: -1rem;
        right: .5rem; 
        z-index: 12;

    }
    .more-nav{
        position: fixed;
        top: -1rem;
        right: 3.5rem;
        z-index: 12;

    }
    .search-nav{
        position: fixed;
        top: -1rem;
        right: 6rem;
        z-index: 12;
    }
    .home-nav{
        bottom: -1rem;
        left: 3.5vw;
    }
    .explore-nav{
        bottom: -1rem;
        left: 23.5vw;
    }
    .create-nav{
        bottom: -1rem;
        left: 43.5vw;
    }
    .message-nav{
        bottom: -1rem;
        left: 63.5vw;
    }
    .profile-nav{
        bottom: -1rem;
        left: 83.5vw;
 
    }
    .menu-line{
        display: block;
        width: 103.5vw;
        position: fixed;
        left: -.1rem;
        overflow: hidden;
        background-color: black;
        height: 2px;
    }
    .line-1{
        top: 3rem;
    }
    .line-2{
        bottom: 3rem;
    }
    .for-mobile-nav{
        height: 4rem;
        background-color: white;
        width: 100%;
        /* border : 2px solid black ; */
        position: fixed;
        /* top: 0; */
        left: 0;
        bottom: -1rem;
        z-index: -1; 
    }
    .for-nav-z-index{
        position: fixed;
        width: 100%;
        height: 3rem;
        top: 0;
        z-index: 11;
        display: block;
        background-color: white;
    }
}