*{
margin : 0;
padding : 0;
box-sizing : border-box;
font-family: "Poppins";
/* Weights: [100,200,300,400,500,600,700,800,900] */
}
.App{
    display: flex;
}

.page-margin{
    height: 120vh;
    position: relative;
    top: 3rem;
    /* border-top: 2px solid black; */
    width: auto;
    left: 30rem;
}
@media only screen and (max-width:900px) {
    .page-margin{
        left: auto;
        top: 4rem;
    }
}